dist/*
!dist/preprint-bridge-0.1.3.xpi
!dist/preprint-bridge-0.1.4.xpi
!dist/preprint-bridge-0.1.5.xpi
!dist/preprint-bridge-1.0.0.xpi
!dist/preprint-bridge-1.1.0.xpi
__pycache__/
*.pyc
!dist/preprint-bridge-1.2.0.xpi
node_modules/
ui-results/
